*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body{font-family:'Lucida Sans';
    background: rgb(207, 198, 198);
/* overflow-x:"hidden"; */
}


:root{
   --main-color: #eef881;
   --secondary-color: #196b77;
}

@font-face{
    font-family:"sans_reg";
    src:url("./assets/OpenSans-Regular.ttf");
}

@font-face{
    font-family:"sans_bold";
    src:url("./assets/OpenSans-Bold.ttf");
}

nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
}

nav svg {
    cursor:pointer;
    z-index:10;
}

.links{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    background: white;
    width: 100%;
    height: 100vh;
    left:0;
    top:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    color:black;
    transform: translateX(100%);
}

.links a {
    color: var(--secondary-color);
    font-size:2rem;
}

h2{
    font-size:2.5rem;
    line-height: 125%;
    font-family:"sans_bold";
    padding:1rem 0rem;
    margin-left:1rem;
}

h3{
    margin-left:1rem;
    font-size:1.5rem;
    margin-bottom:1rem;
    font-family: "sans_reg";
}

.logo{
    display:flex;
    align-items:self-start;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:1.2rem;
    margin-right:3rem;
    margin-bottom: 1rem;
    text-align: justify;
}

li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:1.2rem;
    margin-right:3rem;
    margin-bottom: 1rem;
    text-align: justify;
}


.logo h1{
    margin-left:0.5rem;
    font-family:"sans_reg";
}

.logo img {
    width:10rem;
}

div ul li{
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:3rem;
    font-family:"sans_reg";
}